pandas
numpy
matplotlib
seaborn
networkx
locationtagger
cycler
deep-translator
googletrans==3.1.0a0
ipykernel
ipython
jupyter
langdetect
locationtagger
nltk
spacy
bertopic
scipy
transformers==4.40.0
translate==3.6.1
tweepy==4.14.0
tweet-parser==1.13.2
wordcloud==1.9.3
